
  <mat-card class="container">
    <div class="row justify-align-center">
      <div class="col">
          <app-card></app-card>
      </div>
      <div class="col">
          <img src="/src/assets/ImgCards/7_of_hearts.png">
      </div>  
      <div class="col">
          <img src="/src/assets/ImgCards/5_of_hearts.png">
      </div>
      <div class="col">
        <img src="/src/assets/ImgCards/5_of_diamonds.png">
      </div>
    </div>
    <div class="row justify-align-center">
      <div class="col">
        <img src="/src/assets/ImgCards/8_of_spades.png">
      </div>
      <div class="col">
          <img src="/src/assets/ImgCards/7_of_clubs.png">
      </div>
      <div class="col">
          <img src="/src/assets/ImgCards/king_of_clubs2.png">
      </div> 
      <div class="col">
          <img src="/src/assets/ImgCards/ace_of_spades.png">
      </div> 
    </div>
  </mat-card>
