

.mainContainer{
  position: relative;
  width: 250px;
  height: 380px;
  background-color: white;
}

img{
  width: 100%;
  margin: 2%;
}

.theCard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.theCard:hover{
  transform: rotateY(180deg);
}

.theFront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.theBack{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}